/* If it aint positioning properly - try "position" or "display" */

/* * means applies to everything */
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

  body {
  overflow: hidden;
  background-color: #333;
}

  #title {
  color: white;
  font-size: 70px;
  text-align: center;
}
