/* If it aint positioning properly - try "position" or "display" */


.wrapper {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  text-align: left;
  padding: 1em;
  line-break: none;




}
.wrapper > div {
  background: #eee;
  padding: 1em;




}

.wrapper > div:nth-child(odd){
  background: #ddd;
  padding: 5em;

}
