/* If it aint positioning properly - try "position" or "display" */

body {
  overflow: scroll;
  background: white ;
}

.wrapper {
  display: grid;
 grid-template-columns: 1fr 2fr 1fr;
/*
  grid-template-columns: repeat (3, 1fr 2fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  */
  grid-gap: 1em;
  grid-auto-rows: minmax (100px, auto);
}

.wrapper > div {
  background: #4d94ff;
  padding: 1em;
  display: flex;
  position: flex;
  display: grid;
  width: auto;
}

.wrapper > div:nth-child(odd){
  background: #ff3333;
  padding: 1em;
}

.nested {
  display:grid;
  grid-template-columns:repeat(3, 5fr);
  grid-auto-rows: fill;
  grid-gap: 1em;
}

.nested > div {

  font-size: 25px;
  color: white;
  position: contain;
  text-align: center;
  text-shadow: 3px, #333;
}
.photos {
  width: 100%;;
  height: auto;
  display: inline-grid;
  display: fill;


}

.title {
  text-align: center;
  font-size: 60px;
  font-family: Rubik;
  color: white;
  text-decoration: overline;
  text-decoration-color: #333;
  text-decoration-style: double;
  position: relative;
  margin-bottom: -12px;
margin-top: 15px;
}
/*
.subtitle1 {
  text-align: left;
  font-size: 30px;
  font-family: Rubik;
  color: white;

}
.subtitle2 {
  text-align: center;
  font-size: 30px;
  font-family: Rubik;
  color: white;

}
.subtitle3 {
  text-align: right;
  font-size: 30px;
  font-family: Rubik;
  color: white;

}
*/
.subtitles {
  text-align: center;
  font-size: 30px;
  font-family: Rubik;
  color: white;
}
