/* If it aint positioning properly - try "position" or "display" */


.wrapper {
  display: grid;
 grid-template-columns: 1fr 2fr 1fr;
/*
  grid-template-columns: repeat (3, 1fr 2fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  */
  grid-gap: 1em;
  grid-auto-rows: minmax (100px, auto);






}
.wrapper > div {
  background: #F72C00;
  padding: 1em;
  display: flex;
  position: flex;
  display: grid;
  width: auto;



}

.wrapper > div:nth-child(odd){
  background: #273EFF;
  padding: 1em;

}
.nested {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-auto-rows: 70px;
  grid-gap: 1em;
}
.nested > div {
  border: #777 1px solid;
}
.photos {
  width: 100%;
  display: flex;
  display: inline-grid;
}
